virtualenv==20.0.18
Fabric3==1.14.post1
numpy==1.18.3
scipy==1.4.1
pandas==1.0.3
autopep8==1.5.2
pycodestyle==2.5.0
pytest==5.4.1
matplotlib==3.2.1
jupyterlab==2.1.0
jupyterlab-server==1.1.1
jupyter-contrib-nbextensions==0.5.1
boto3==1.12.44
s3fs==0.4.2
awscli==1.18.44
spylon-kernel==0.4.1
